body {
  font-family: 'Arial', sans-serif;
}

label {
  font-size: 15px;
  margin-bottom: 8px;
  display: block;
}

select {
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

button {
  background-color: #edede9;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5%;
}

button:hover {
  background-color: #f5ebe0;
}